a. far inserire all'utente due valori interi

In [30]:
a = int(input("Inserire il numero uno: "))
b = int(input("Inserire il numero due: "))

Inserire il numero uno: 20
Inserire il numero due: 8

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [31]:
som = a+b
sot = a-b
mol = a*b
div = a/b
print(som, sot, mol, div)

28 12 160 2.5

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [32]:
pot = a**b
print(pot)

25600000000

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [33]:
mod = a%b
print(mod)

4

f. effettuare la divisione intera tra il primo e il secondo numero

In [34]:
divintera = a // b
print(divintera)

2

g. incrementare di una unità entrambi i numeri

In [35]:
num1 = a + 1
num2 = b + 1
print(num1, num2)

21 9

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [46]:
alt = float(input("Inserire altezza in m: "))
peso = float(input("Inserire peso in kg:" ))
IMC = peso/(alt**2)
print(IMC)

Inserire altezza in m: 1.72
Inserire peso in kg:69
23.323418063818284

i. arrotondare l'IMC precedente

In [48]:
print(round(IMC))

23

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [50]:
nome = "Jacopo"
cognome = "Biagioni"
data = "25 novembre 2005"
città = "Milano"
print(nome, cognome, data, città, sep= "-", end= ".")

Jacopo-Biagioni-25 novembre 2005-Milano.

k. visualizzare le stesse informazioni per 10 volte di seguito

In [64]:
informazioni = (nome, cognome, data, città)
print(informazioni*10)

('Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano', 'Jacopo', 'Biagioni', '25 novembre 2005', 'Milano')

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole