In [ ]:
import pandas as pd

1. caricare i dati in un dataframe e studiare le informazioni inserite per capire di che cosa si tratta

In [ ]:
url ='https://raw.githubusercontent.com/CappuCitti/Python-appunti-ed-esercizi/main/Pandas/Data/uffici_postali_milano.csv'
df = pd.read_csv(url)
df

                      Indirizzo  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

2. visualizzare solo la prima colonna

In [ ]:
df.iloc[:-1,0]

0       BASTIONI DI PORTA VOLTA 7
1     CORSO DI PORTA VIGENTINA 35
2                  CORSO ITALI 16
3               CORSO SEMPIONE 94
4                CORSO VENEZIA 42
                 ...
76         VIALE GIOVANNI SUZZANI
77                VIALE GORIZIA 6
78         VIALE MONTE CENERI SNC
79            VIALE SABOTINO 21/A
80         VIALE SAN GIMIGNANO 10
Name: Indirizzo, Length: 81, dtype: object

In [ ]:
df[df.columns[0]]

0       BASTIONI DI PORTA VOLTA 7
1     CORSO DI PORTA VIGENTINA 35
2                  CORSO ITALI 16
3               CORSO SEMPIONE 94
4                CORSO VENEZIA 42
                 ...
77                VIALE GORIZIA 6
78         VIALE MONTE CENERI SNC
79            VIALE SABOTINO 21/A
80         VIALE SAN GIMIGNANO 10
81                 VIALE ZARA 131
Name: Indirizzo, Length: 82, dtype: object

3. visualizzare solo l'ultima colonna

In [ ]:
df.iloc[:-1,-1]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
76     (45.52444928500006;9.207933420000074)
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
Name: Location, Length: 81, dtype: object

In [ ]:
df[df.columns[-1]]

0      (45.47960100000006;9.182151000000033)
1      (45.45253800000006;9.196519500000022)
2      (45.45789300000007;9.187470000000076)
3       (45.48654000000005;9.15850800000004)
4      (45.47186100000005;9.202702500000044)
                       ...
77    (45.454518000000064;9.173155500000064)
78     (45.49156751800007;9.153591732000052)
79    (45.451017000000036;9.200173500000062)
80    (45.455868000000066;9.136525500000062)
81     (45.50019300000008;9.196686000000057)
Name: Location, Length: 82, dtype: object

4. visualizzare le colonne dalle terza alla quinta

In [ ]:
df.iloc[:-1,3:6]

      CAP  MUNICIPIO  ID_NIL
0   20121          1       2
1   20122          1       5
2   20122          1       1
3   20154          8      69
4   20121          1       4
..    ...        ...     ...
76  20162          9      14
77  20144          6      44
78  20155          8      71
79  20135          5      27
80  20146          6      52

[81 rows x 3 columns]

5.  visualizzare la terza e la sesta colonna

In [ ]:
df.iloc[:-1,[3,6]]

      CAP                                                NIL
0   20121                                              BRERA
1   20122                   PORTA VIGENTINA - PORTA LODOVICA
2   20122                                              DUOMO
3   20154                                              SARPI
4   20121                                          GUASTALLA
..    ...                                                ...
76  20162  NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE...
77  20144                         PORTA TICINESE - CONCHETTA
78  20155                VILLAPIZZONE - CAGNOLA - BOLDINASCO
79  20135                                         PTA ROMANA
80  20146                                         BANDE NERE

[81 rows x 2 columns]

6. visualizzare la colonna dell'indirizzo e del municipio

In [ ]:
df[['Indirizzo','MUNICIPIO']]

                      Indirizzo  MUNICIPIO
0     BASTIONI DI PORTA VOLTA 7          1
1   CORSO DI PORTA VIGENTINA 35          1
2                CORSO ITALI 16          1
3             CORSO SEMPIONE 94          8
4              CORSO VENEZIA 42          1
..                          ...        ...
77              VIALE GORIZIA 6          6
78       VIALE MONTE CENERI SNC          8
79          VIALE SABOTINO 21/A          5
80       VIALE SAN GIMIGNANO 10          6
81               VIALE ZARA 131          9

[82 rows x 2 columns]

7.  visualizzare la prima riga

In [ ]:
df.head(1)

                   Indirizzo  ...                               Location
0  BASTIONI DI PORTA VOLTA 7  ...  (45.47960100000006;9.182151000000033)

[1 rows x 10 columns]

8. visualizzare l'ultima riga

In [ ]:
df.tail(1)

         Indirizzo  ...                               Location
81  VIALE ZARA 131  ...  (45.50019300000008;9.196686000000057)

[1 rows x 10 columns]

9. visualizzare la riga centrale

In [ ]:
df.iloc[41]

Indirizzo                 VIA GIUSEPPE RIPAMONTI 167
Telefono                                 02-53580011
Fax                                      02-53580047
CAP                                            20141
MUNICIPIO                                          5
ID_NIL                                            38
NIL                          VIGENTINO - Q.RE FATIMA
LONG_X_4326                                  9.20112
LAT_Y_4326                                   45.4352
Location       (45.43522200000007;9.201118500000064)
Name: 41, dtype: object

10. visualizzare le righe 3, 4 e 12

In [ ]:
df.iloc[[3,4,12]]

             Indirizzo  ...                               Location
3    CORSO SEMPIONE 94  ...   (45.48654000000005;9.15850800000004)
4     CORSO VENEZIA 42  ...  (45.47186100000005;9.202702500000044)
12  VIA APPENNINI 77/A  ...  (45.50207400000005;9.104292000000044)

[3 rows x 10 columns]

11. visualizzare le righe dalla decima alla quindicesima

In [ ]:
df.loc[10:15]

                       Indirizzo  ...                                Location
10  VIA ALFREDO CAPPELLINI 17/19  ...   (45.48195000000004;9.201735000000042)
11        VIA ANDREA VOCHIERI 12  ...   (45.51414300000005;9.168682500000045)
12            VIA APPENNINI 77/A  ...   (45.50207400000005;9.104292000000044)
13                 VIA ARQUA' 14  ...    (45.49287600000008;9.22771350000005)
14        VIA BENOZZO GOZZOLI 51  ...   (45.45560700000004;9.090990000000033)
15             VIA BOVISASCA 173  ...  (45.519456269000045;9.152854782000077)

[6 rows x 10 columns]

12.  visualizzare la colonna indirizzo e NIL delle righe dalla decima alla quindicesima

In [ ]:
df.loc[10:15,['Indirizzo','NIL']]

                       Indirizzo                                                NIL
10  VIA ALFREDO CAPPELLINI 17/19                   STAZIONE CENTRALE - PONTE SEVESO
11        VIA ANDREA VOCHIERI 12                                             AFFORI
12            VIA APPENNINI 77/A  Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO
13                 VIA ARQUA' 14                          LORETO - CASORETTO - NOLO
14        VIA BENOZZO GOZZOLI 51           BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA
15             VIA BOVISASCA 173                                          BOVISASCA

13. visualizzare le colonne telefono e fax delle righe 3, 5 e 12

In [ ]:
df.loc[[3,5,12],['Telefono','Fax']]

       Telefono          Fax
3           NaN          NaN
5   02-47714011  02-47714047
12   02-3535414   02-3538072

14.  visualizzare le colonne dalla 2 alla 6 delle righe dalla 3 alla 10

In [ ]:
df.iloc[3:11,2:7]

            Fax    CAP  MUNICIPIO  ID_NIL                               NIL
3           NaN  20154          8      69                             SARPI
4    02-7837251  20121          1       4                         GUASTALLA
5   02-47714047  20146          6      49                       GIAMBELLINO
6   02-42255247  20146          6      49                       GIAMBELLINO
7    02-3271232  20148          8      66                              QT 8
8   02-37790947  20158          9      78                            FARINI
9   02-26680123  20131          3      22                      CITTA' STUDI
10  02-67733147  20124          2      10  STAZIONE CENTRALE - PONTE SEVESO

15. visualizzare il numero di telefono dell'ufficio di piazza Napoli

In [ ]:
df[df['Indirizzo'].str.contains('PIAZZA NAPOLI')].Telefono

6    02-42255211
Name: Telefono, dtype: object

16. visualizzare l'indirizzo e il numero di telefono degli uffici postali di Niguarda

In [ ]:
df[df['NIL'].str.contains('NIGUARDA')][['Indirizzo','Telefono']]

                 Indirizzo     Telefono
60            VIA PONALE 6  02-66100185
76  VIALE GIOVANNI SUZZANI   02-6470400

17. visualizzare l'indirizzo e il numero di telefono degli uffici postali dei municipi 1, 2 e 3

In [ ]:
df.loc[(df['MUNICIPIO'] >= 1) & (df['MUNICIPIO'] <= 3)][['Indirizzo','Telefono']]

                       Indirizzo     Telefono
0      BASTIONI DI PORTA VOLTA 7   02-6572655
1    CORSO DI PORTA VIGENTINA 35  02-58320771
2                 CORSO ITALI 16    02-804336
4               CORSO VENEZIA 42  02-76023056
9                  VIA ADELCHI 2   02-2665192
10  VIA ALFREDO CAPPELLINI 17/19   02-6773311
13                 VIA ARQUA' 14  02-26141687
16                VIA BRONZINO 7  02-29527423
21           VIA COMUNE ANTICO 1  02-67070525
22                VIA CORDUSIO 4  02-72482126
25              VIA DELL'ORSO 11  02-80277311
26          VIA DELLA MOSCOVA 30          NaN
27                 VIA DURAZZO 5  02-21040511
30      VIA FESTA DEL PERDONO 10  02-58207833
38        VIA GIOSUE' CARDUCCI 7  02-85917111
40        VIA GIUSEPPE PECCHIO 1          NaN
46      VIA LUIGI VARANINI 26/28  02-28181611
49       VIA MAZZINI GIUSEPPE 15  02-86396911
51                VIA MONDOVI' 2  02-26300993
55                 VIA ORTICA 19  02-70061332
59                VIA PINDARO 29          NaN
64        VIA ROSOLINO PILO 19/A   02-2046789
66                VIA SAMBUCO 15  02-89405932
67             VIA SAN MAMETE 16   02-2566786
68         VIA SAN SIMPLICIANO 5  02-86396811
69             VIA SANTA SOFIA 8  02-58318572
71       VIA SCIPIONE PIATTOLI 6  02-26112432
72                   VIA VIGNA 6  02-86396711
73         VIALE ANDREA DORIA 48   02-2047169
75     VIALE EVARISTO STEFINI 12  02-67361911

18.  visualizzare gli uffici di cui non si conosce il numero di telefono o il fax

In [ ]:
df[df['Telefono'].isnull() | df['Fax'].isnull()]['Indirizzo']

3           CORSO SEMPIONE 94
26       VIA DELLA MOSCOVA 30
31    VIA FILIPPO SASSETTI 27
40     VIA GIUSEPPE PECCHIO 1
59             VIA PINDARO 29
Name: Indirizzo, dtype: object

19. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL)

In [ ]:
df.groupby('NIL')['Indirizzo'].count()

NIL
ADRIANO                                                        1
AFFORI                                                         2
BAGGIO - Q.RE DEGLI OLMI - Q.RE VALSESIA                       2
BANDE NERE                                                     1
BOVISASCA                                                      1
BRERA                                                          4
BRUZZANO                                                       1
BUENOS AIRES - PORTA VENEZIA - PORTA MONFORTE                  4
CIMIANO - ROTTOLE - Q.RE FELTRE                                1
CITTA' STUDI                                                   1
CORSICA                                                        1
DE ANGELI - MONTE ROSA                                         1
DERGANO                                                        1
DUOMO                                                          7
FARINI                                                         1
FORZE ARMATE                                                   2
GIAMBELLINO                                                    3
GORLA - PRECOTTO                                               1
GRATOSOGLIO - Q.RE MISSAGLIA - Q.RE TERRAZZE                   1
GRECO - SEGNANO                                                1
GUASTALLA                                                      1
ISOLA                                                          3
LAMBRATE - ORTICA                                              1
LODI - CORVETTO                                                1
LORETO - CASORETTO - NOLO                                      2
MACIACHINI - MAGGIOLINA                                        2
MONCUCCO - SAN CRISTOFORO                                      1
MONLUE' - PONTE LAMBRO                                         1
NIGUARDA - CA' GRANDA - PRATO CENTENARO - Q.RE FULVIO TESTI    2
PADOVA - TURRO - CRESCENZAGO                                   2
PAGANO                                                         1
PORTA GARIBALDI - PORTA NUOVA                                  1
PORTA GENOVA                                                   1
PORTA MAGENTA                                                  1
PORTA TICINESE - CONCA DEL NAVIGLIO                            1
PORTA TICINESE - CONCHETTA                                     1
PORTA VIGENTINA - PORTA LODOVICA                               1
PTA ROMANA                                                     1
Q.RE GALLARATESE - Q.RE SAN LEONARDO - LAMPUGNANO              2
QT 8                                                           1
QUARTO OGGIARO - VIALBA - MUSOCCO                              2
QUINTO ROMANO                                                  1
ROGOREDO - SANTA GIULIA                                        1
RONCHETTO SUL NAVIGLIO - Q.RE LODOVICO IL MORO                 1
SAN SIRO                                                       1
SARPI                                                          2
SCALO ROMANA                                                   1
STADERA - CHIESA ROSSA - Q.RE TORRETTA - CONCA FALLATA         1
STAZIONE CENTRALE - PONTE SEVESO                               1
TIBALDI                                                        2
UMBRIA - MOLISE - CALVAIRATE                                   1
VIGENTINO - Q.RE FATIMA                                        1
VILLAPIZZONE - CAGNOLA - BOLDINASCO                            1
XXII MARZO                                                     2
Name: Indirizzo, dtype: int64

20. visualizzare il numero di uffici per ogni Nucleo di Identità Locale (NIL). Ordinare a partire dal NIL che ha più uffici in giù

In [ ]:
df.groupby('NIL')['Indirizzo'].count().max()

7

21. visualizzare i municipi che hanno più di 15 uffici postali

In [ ]:
df.columns = df.columns.str.replace('Indirizzo','Via')
df

                            Via  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[82 rows x 10 columns]

In [ ]:
df1 = df.groupby('MUNICIPIO')['Via'].count()
df1[df1 > 10]

MUNICIPIO
1    14
9    13
Name: Via, dtype: int64

22. visualizzare il municipio che ha più uffici postali

In [ ]:
df1[df1 == df1.max()]

MUNICIPIO
1    14
Name: Via, dtype: int64

23. visualizzare il municipio che ha meno uffici postali

In [ ]:
df1[df1 == df1.min()]

MUNICIPIO
3    7
4    7
5    7
Name: Via, dtype: int64

24.  visualizzare il numero medio di uffici postali in ogni municipio

In [ ]:
df2 = df.groupby('MUNICIPIO')['Via'].count().mean()
df2

9.11111111111111

25. visualizzare gli uffici postali che hanno un numero di uffici postali superiore alla media

In [ ]:
df1[df1['Via'] > df1['Via'].mean()]

KeyError: ignored

26. eliminare tutti i record relativi al NIL di Niguarda

In [ ]:
df.drop(df[df['NIL'].str.contains('NIGUARDA')].index,inplace=True)
df

                            Via  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

27. eliminare le ultime tre colonne

28. eliminare i record di cui non si conosce il numero di telefono o il fax

In [ ]:
dfc = df.drop(df[df['Telefono'].isnull() | df['Fax'].isnull()].index)
dfc

                                     Via  ...                                Location
0              BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1            CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                         CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
4                       CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
5   LARGO GIOVANNI BATTISTA SCALABRINI 5  ...    (45.45039600000007;9.14118300000007)
..                                   ...  ...                                     ...
77                       VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78                VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79                   VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80                VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81                        VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[75 rows x 10 columns]

29. modificare il numero di telefono dell'ufficio di viale Zara in 02-69922222

In [ ]:
df['Telefono'].replace({'02-69911111':'02-69922222'}, inplace=True)
df

                            Via  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]

30. sostituire il trattino presente nei numeri di telefono con il carattere /

In [ ]:
df['Telefono'] = df['Telefono'].str.replace('-','/')
df

                            Via  ...                                Location
0     BASTIONI DI PORTA VOLTA 7  ...   (45.47960100000006;9.182151000000033)
1   CORSO DI PORTA VIGENTINA 35  ...   (45.45253800000006;9.196519500000022)
2                CORSO ITALI 16  ...   (45.45789300000007;9.187470000000076)
3             CORSO SEMPIONE 94  ...    (45.48654000000005;9.15850800000004)
4              CORSO VENEZIA 42  ...   (45.47186100000005;9.202702500000044)
..                          ...  ...                                     ...
77              VIALE GORIZIA 6  ...  (45.454518000000064;9.173155500000064)
78       VIALE MONTE CENERI SNC  ...   (45.49156751800007;9.153591732000052)
79          VIALE SABOTINO 21/A  ...  (45.451017000000036;9.200173500000062)
80       VIALE SAN GIMIGNANO 10  ...  (45.455868000000066;9.136525500000062)
81               VIALE ZARA 131  ...   (45.50019300000008;9.196686000000057)

[80 rows x 10 columns]