1. Creare un dizionario avente come chiavi regione, capoluogo, superficie, presidente e abitanti e per ciascuna chiave, inserire come valore una lista del corrispettivo attributo per tre regioni del nord Italia.

In [ ]:
import pandas as pd 
d = {
    'Regione':['Lombardia','Piemonte','Veneto'],
    'Capoluogo':['Milano','Torino','Venezia'],
    'Superficie':['23.844 km²','25.387 km²','18.345 km²'],
    'Presidente':['Attilio Fontana','Alberto Albo Cirio','Luca Zaia'],
    'Abitanti':['10,06 milioni','4,356 milioni','4,906 milioni']
}

2. Assegnare ad una variabile chiamata nord_italia un dataframe basato sopra il dizionario precedentemente creato.

In [ ]:
nord_italia = pd.DataFrame(d)
nord_italia

     Regione Capoluogo  Superficie          Presidente       Abitanti
0  Lombardia    Milano  23.844 km²     Attilio Fontana  10,06 milioni
1   Piemonte    Torino  25.387 km²  Alberto Albo Cirio  4,356 milioni
2     Veneto   Venezia  18.345 km²           Luca Zaia  4,906 milioni

3. Impostare regione come nuovo indice del dataframe. Visualizzare in fine il dataframe con il nuovo index.

In [ ]:
nord_italia = df.set_index('Regione')
nord_italia

          Capoluogo  Superficie          Presidente       Abitanti
Regione
Lombardia    Milano  23.844 km²     Attilio Fontana  10,06 milioni
Piemonte     Torino  25.387 km²  Alberto Albo Cirio  4,356 milioni
Veneto      Venezia  18.345 km²           Luca Zaia  4,906 milioni

4. Utilizzando il dataframe appena creato visualizzare solo i capoluoghi.

In [ ]:
nord_italia['Capoluogo']

Regione
Lombardia     Milano
Piemonte      Torino
Veneto       Venezia
Name: Capoluogo, dtype: object

5. Visualizzare una lista delle colonne del dataframe.

In [ ]:
nord_italia.columns

Index(['Capoluogo', 'Superficie', 'Presidente', 'Abitanti'], dtype='object')

6. Visualizzare l'insieme degli indici.

In [ ]:
nord_italia.index

Index(['Lombardia', 'Piemonte', 'Veneto'], dtype='object', name='Regione')

In [ ]:
url = 'https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv'
df = pd.read_csv(url)
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
3             40-49  13761536  ...         49934            2021-10-28
4             50-59  15818591  ...         71049            2021-10-28
5             60-69  12875027  ...         90443            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8               90+   1721375  ...        130540            2021-10-28

[9 rows x 10 columns]

Visualizzare il numero di vaccinati nella fascia 12-19

In [ ]:
df.loc[df['fascia_anagrafica'] == '12-19','totale']

0    6268693
Name: totale, dtype: int64

Visualizzare numero vaccinati maschi, femmine

In [ ]:
df.loc[df['fascia_anagrafica'] == '12-19',['sesso_maschile','sesso_femminile']]

   sesso_maschile  sesso_femminile
0         3209454          3059239

Visualizzare fasce di età con più di 10 milioni di vaccinazioni

In [ ]:
df.loc[df['totale'] >= 10000000, 'fascia_anagrafica']

2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
Name: fascia_anagrafica, dtype: object

Visualizzare fasce di età tra le 10 e le 20 milioni di vaccinazioni

In [ ]:
df.loc[(df['totale'] < 20000000) & (df['totale'] > 10000000), 'fascia_anagrafica']

2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
Name: fascia_anagrafica, dtype: object

Aggiungere una colonna 'percentuale sesso maschile' dove inserire la percentuale di maschi vaccinati sul totale

In [ ]:
df['percentuale sesso maschile'] = (df['sesso_maschile'] * 100) / df['totale']
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  percentuale sesso maschile
0             12-19   6268693  ...            2021-10-28                   51.198137
1             20-29   9891343  ...            2021-10-28                   52.285296
2             30-39  10555697  ...            2021-10-28                   51.351199
3             40-49  13761536  ...            2021-10-28                   49.626706
4             50-59  15818591  ...            2021-10-28                   49.060077
5             60-69  12875027  ...            2021-10-28                   48.522609
6             70-79  10840433  ...            2021-10-28                   46.970698
7             80-89   7541357  ...            2021-10-28                   41.746572
8               90+   1721375  ...            2021-10-28                   29.916375

[9 rows x 11 columns]

Fare la stessa cosa per il sesso femminile

In [ ]:
df['percentuale sesso femminile'] = (df['sesso_femminile'] * 100) / df['totale']
df

  fascia_anagrafica  ...  percentuale sesso femminile
0             12-19  ...                    48.801863
1             20-29  ...                    47.714704
2             30-39  ...                    48.648801
3             40-49  ...                    50.373294
4             50-59  ...                    50.939923
5             60-69  ...                    51.477391
6             70-79  ...                    53.029302
7             80-89  ...                    58.253428
8               90+  ...                    70.083625

[9 rows x 12 columns]

Visualizzare le fasce di età in cui la percentuale di maschi vaccinati è maggiore della percentuale di femmine vaccinate

In [ ]:
df.loc[df['percentuale sesso maschile'] > df['percentuale sesso femminile']]['fascia_anagrafica']

0    12-19
1    20-29
2    30-39
Name: fascia_anagrafica, dtype: object

Visualizzare le fasce di età dove la dose aggiuntiva è minore della dose booster

In [ ]:
df.loc[df['dose_aggiuntiva'] < df['dose_booster']]['fascia_anagrafica']

1    20-29
2    30-39
3    40-49
4    50-59
5    60-69
7    80-89
8      90+
Name: fascia_anagrafica, dtype: object

Sostituire al valore 90+ il valore 90-120

In [ ]:
df["fascia_anagrafica"].replace({"90+": "90-120"}, inplace=True)
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
3             40-49  13761536  ...         49934            2021-10-28
4             50-59  15818591  ...         71049            2021-10-28
5             60-69  12875027  ...         90443            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8            90-120   1721375  ...        130540            2021-10-28

[9 rows x 10 columns]

Creare un nuovo dataframe contenente le prime 10 fasce anagrafiche

In [ ]:
fasce_anagrafiche = pd.DataFrame(df['fascia_anagrafica'].head(10))
fasce_anagrafiche

  fascia_anagrafica
0             12-19
1             20-29
2             30-39
3             40-49
4             50-59
5             60-69
6             70-79
7             80-89
8            90-120

Creare un nuovo dataframe contenente la fascia anagrafica e la colonna prima e seconda dose

In [ ]:
fasce_anagrafiche_1_2 = pd.DataFrame(df[['fascia_anagrafica','prima_dose','seconda_dose']])
fasce_anagrafiche_1_2

  fascia_anagrafica  prima_dose  seconda_dose
0             12-19     3223185       2940568
1             20-29     5075497       4587980
2             30-39     5415036       4888959
3             40-49     6991305       6417692
4             50-59     8023900       7337139
5             60-69     6537683       5948012
6             70-79     5393839       5158247
7             80-89     3451789       3388016
8            90-120      797161        768344

Eliminare dal dataframe i dati relativi alle persone tra i 40-69 anni

In [ ]:
df = df.drop([3,4,5])
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8               90+   1721375  ...        130540            2021-10-28

[6 rows x 10 columns]

Eliminare dal dataframe le colonne sesso maschile e sesso femminile

In [ ]:
df = df.drop(columns=['sesso_maschile','sesso_femminile'])
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6268693  ...           229            2021-10-28
1             20-29   9891343  ...         25607            2021-10-28
2             30-39  10555697  ...         38989            2021-10-28
6             70-79  10840433  ...         60543            2021-10-28
7             80-89   7541357  ...        586807            2021-10-28
8               90+   1721375  ...        130540            2021-10-28

[6 rows x 8 columns]