In [ ]:
import pandas as pd

In [ ]:
url = 'https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv'
df = pd.read_csv(url)
df

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

1. Scrivere le istruzioni per caricare i dati del file csv (inventare il link e il nome del file) in un dataframe Pandas chiamato “movies”

In [ ]:
movies = pd.DataFrame(df)
movies

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

2. visualizzare le ultime 8 righe del dataframe

In [ ]:
movies.tail(8)

                    Film    Genre  ... Worldwide Gross  Year
69             Enchanted   Comedy  ...        $340.49   2007
70             Dear John    Drama  ...        $114.97   2010
71             Beginners   Comedy  ...         $14.31   2011
72   Across the Universe  romance  ...         $29.37   2007
73         A Serious Man    Drama  ...         $30.68   2009
74    A Dangerous Method    Drama  ...          $8.97   2011
75            27 Dresses   Comedy  ...        $160.31   2008
76  (500) Days of Summer   comedy  ...         $60.72   2009

[8 rows x 8 columns]

3. visualizzare solo le colonne che contengono il titolo e il genere del film

In [ ]:
movies[['Film','Genre']]

                                  Film    Genre
0           Zack and Miri Make a Porno  Romance
1                      Youth in Revolt   Comedy
2   You Will Meet a Tall Dark Stranger   Comedy
3                         When in Rome   Comedy
4                What Happens in Vegas   Comedy
..                                 ...      ...
72                 Across the Universe  romance
73                       A Serious Man    Drama
74                  A Dangerous Method    Drama
75                          27 Dresses   Comedy
76                (500) Days of Summer   comedy

[77 rows x 2 columns]

4. visualizzare le righe del dataframe dalla 20 alla 30

In [ ]:
movies[20:30]

                                   Film      Genre  ... Worldwide Gross  Year
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
21                     The Back-up Plan     Comedy  ...         $77.09   2010
22                              Tangled  Animation  ...        $355.01   2010
23                   Something Borrowed    Romance  ...         $60.18   2011
24               She's Out of My League     Comedy  ...         $48.81   2010
25                 Sex and the City Two     Comedy  ...        $288.35   2010
26                   Sex and the City 2     Comedy  ...        $288.35   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
28                          Remember Me      Drama  ...         $55.86   2010
29               Rachel Getting Married      Drama  ...         $16.61   2008

[10 rows x 8 columns]

5. visualizzare i titolo e l’anno dei film che si trovano nelle posizioni 23, 29 e 45

In [ ]:
movies.loc[[23,29,45],['Film','Year']]

                      Film  Year
23      Something Borrowed  2011
29  Rachel Getting Married  2008
45              Mamma Mia!  2008

6. visualizzare i titoli dei film del genere “Animation”

In [ ]:
movies[movies['Genre'] == 'Animation']

                 Film      Genre  ... Worldwide Gross  Year
6              WALL-E  Animation  ...        $521.28   2008
22            Tangled  Animation  ...        $355.01   2010
64  Gnomeo and Juliet  Animation  ...        $193.97   2011
65  Gnomeo and Juliet  Animation  ...        $193.97   2011

[4 rows x 8 columns]

7. visualizzare i titoli dei film prodotti dalla “Disney” e dalla “20th Century Fox”

In [ ]:
movies.loc[movies['Lead Studio'] == 'Disney', 'Film']

3                           When in Rome
6                                 WALL-E
16                          The Proposal
22                               Tangled
60    High School Musical 3: Senior Year
64                     Gnomeo and Juliet
65                     Gnomeo and Juliet
69                             Enchanted
Name: Film, dtype: object

In [ ]:
movies.loc[movies['Lead Studio'] == '20th Century Fox', 'Film']

5     Water For Elephants
41            Monte Carlo
Name: Film, dtype: object

8. visualizzare i titoli dei film usciti dal 2005 al 2010

In [ ]:
movies.loc[(movies['Year'] < 2010) & (movies['Year'] > 2005), 'Film']

0              Zack and Miri Make a Porno
4                   What Happens in Vegas
6                                  WALL-E
7                                Waitress
10    Tyler Perry's Why Did I get Married
12                               Twilight
13                         The Ugly Truth
14            The Twilight Saga: New Moon
15               The Time Traveler's Wife
16                           The Proposal
17                 The Invention of Lying
18                     The Heartbreak Kid
19                            The Duchess
20    The Curious Case of Benjamin Button
27                       Sex and the City
29                 Rachel Getting Married
30                               Penelope
31                        P.S. I Love You
32                     Over Her Dead Body
35                      Not Easily Broken
36                        No Reservations
37     Nick and Norah's Infinite Playlist
40                       Music and Lyrics
42         Miss Pettigrew Lives for a Day
44                          Marley and Me
45                             Mamma Mia!
46                             Mamma Mia!
47                          Made of Honor
48                           Love Happens
51                         License to Wed
54                             Knocked Up
58                       It's Complicated
60     High School Musical 3: Senior Year
61            He's Just Not That Into You
62                        Good Luck Chuck
66             Ghosts of Girlfriends Past
67                       Four Christmases
68                              Fireproof
69                              Enchanted
72                    Across the Universe
73                          A Serious Man
75                             27 Dresses
76                   (500) Days of Summer
Name: Film, dtype: object

9. visualizzare i film (tutte le colonne) il cui titolo comincia con la lettera W

In [ ]:
movies['Film'].str.startswith('W')

0     False
1     False
2     False
3      True
4      True
      ...
72    False
73    False
74    False
75    False
76    False
Name: Film, Length: 77, dtype: bool

10. visualizzare l’ “Audience score %” medio dei film del genere “Drama”

In [ ]:
movies[movies['Genre']=='Drama']['Audience score %'].mean()

67.23076923076923

11. visualizzare il numero di film per ogni genere

In [ ]:
movies.groupby('Genre')['Film'].count()

Genre
Action        1
Animation     4
Comdy         1
Comedy       41
Drama        13
Fantasy       1
Romance      13
Romence       1
comedy        1
romance       1
Name: Film, dtype: int64

12. diminuire del 10% il valore delle recensioni presenti nel campo “Audience score %”

In [ ]:
movies['Audience score %'].apply(lambda x: x-10)

0     60
1     42
2     25
3     34
4     62
      ..
72    74
73    54
74    79
75    61
76    71
Name: Audience score %, Length: 77, dtype: int64